<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="POIMSDb" connectionString="metadata=res://*/PoimsDb.csdl|res://*/PoimsDb.ssdl|res://*/PoimsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-POIMS5\SQLEXPRESSPOIMS;initial catalog=POIMS;user id=sa;password=me55iah@dnrps;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- MVC settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="POIMS.Web" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <!-- Deployment specific Integration with WCF services -->
    <add key="ServiceConsumerInSameNetworkAsHostOfMembershipMgmtWebsite" value="true" />
    <add key="DistributedAuthenticationSessionTimeoutDurationInMins" value="120" />
    <add key="SSO-SAC-SVC_KeepChannelConnected" value="true" />
    <add key="SSOSACWcfClientThrottlingMaxConnectionRetries" value="3" />
    <add key="SSOSACWcfClientThrottlingWaitDurationBeforeRetryConnection" value="500" />
    <add key="PTY-MGT-SVC_KeepChannelConnected" value="false" />
    <add key="AUDIT-MGT-SVC_KeepChannelConnected" value="false" />
    <!-- DEFAULT SETTINGS -->
    <add key="MySystemCode" value="POIMS-INV" />
    <add key="DefaultPageSize" value="10" />
    <add key="DefaultSystemOwnerKey" value="0" />
    <add key="DefaultSiteKey" value="5000" />
    <add key="ServiceNodeEndPointRelationship_XMLFilePath" value="C:\Program Files\Common Files\DNR Process Solutions" />
    <add key="Gravity" value="9.8"/>
    <!-- LICENSE INFO -->
    <add key="ClaimedLicensee" value="Evyap Sabun" />
    <add key="ClaimedLicensedSW" value="DNR_POIMS" />
    <add key="LicenseKEY" value="BB019C47-7393-44D6-A29A-F7C457B023DF" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior />
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="DNR_DefaultBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" transactionFlow="true" transferMode="Buffered" maxBufferPoolSize="900000000" maxBufferSize="900000000" maxConnections="100" maxReceivedMessageSize="900000000">
          <readerQuotas maxDepth="32" maxStringContentLength="900000000" maxArrayLength="900000000" maxBytesPerRead="900000000" maxNameTableCharCount="900000000" />
          <reliableSession ordered="true" inactivityTimeout="0:02:00" enabled="true" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="SSO_SAC_Svc" address="net.tcp://vm-poims5:9301/DNR_SSO-SAC_SVC" contract="FTMembershipRoleProviderServiceContract" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="DNR_DefaultBinding" />
      <endpoint name="AT_MGT_Svc" address="net.tcp://vm-poims5:9305/DNR_AT-MGT_SVC" contract="FTAuditTrailsMgmtSC" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="DNR_DefaultBinding" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Membership/Login" cookieless="UseCookies" name=".POIMSWeb" path="/" slidingExpiration="true" timeout="30" />
    </authentication>
    <roleManager enabled="true" defaultProvider="FTSSORoleProvider">
      <providers>
        <add name="FTSSORoleProvider" applicationName="POIMS" type="SSO_SAC_Service.Client.BusinessLayer.FTSSORoleProvider, SSO_SAC_Service.Client.BusinessLayer" />
      </providers>
    </roleManager>
    <membership defaultProvider="FTSSOMembershipProvider">
      <providers>
        <add name="FTSSOMembershipProvider" applicationName="POIMS" type="POIMS.SSO_SAC_Service.Client.BusinessLayer.POIMSMembershipUserProvider, POIMS.SSO_SAC_Service.Client.BusinessLayer" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>