<footer>
    <div id="footer">
        <!--footer start-->
        <span class="flogo">
            <img src="@Url.Content("~/Images/foot-logo.png")" alt="DNR" />
        </span>
        <span class="copyright">Copyrights &copy POIMS @System.DateTime.Now.Year.  All rights reserved. </span>
    </div>
</footer>
